@import url(https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap);

.messages {
    text-align: center;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    display: block
}

.stats {
    text-align: center;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    display: none
}

.send_button {
    text-align: center;
    background-color: gray;
    color:white;
    size: 25px, 15px;
    font-family:'Courier New', Courier, monospace;
}

.messageupgs {
    text-align: center;
    background: rgb(193,193,193);
    background: linear-gradient(70deg, rgba(193,193,193,1) 0%, rgba(63,63,63,1) 100%);
    width: 300px;
    font-family:'Courier New', Courier, monospace;
}

.notbought{
    color:rgb(255, 0, 0);
}

.bought{
    color:rgb(0, 255, 0)
}

.tabs {
    text-align: center;
}

.tooltip {
    position:relative;
    background-color:rgba(0, 0, 0, 0.7);
    color:white;
}

.messagetab {
    text-align: center;
    background: rgb(193,193,193);
    background: linear-gradient(70deg, rgba(193,193,193,1) 0%, rgba(63,63,63,1) 100%);
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

.argumenttab {
    text-align: center;
    background: rgb(255, 145, 0);
    background: linear-gradient(70deg, rgb(255, 145, 0) 0%, rgb(238, 255, 0) 100%);
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    display: none
}

.candlestab {
    text-align: center;
    background: rgb(9, 255, 0);
    background: linear-gradient(70deg, rgb(9, 255, 0) 0%, rgb(0, 255, 170) 100%);
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    display: none
}

.statstab {
    text-align: center;
    background: rgb(193,193,193);
    background: linear-gradient(240deg, rgba(193,193,193,1) 0%, rgba(63,63,63,1) 100%);
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

.arguments {
    text-align: center;
    color: rgb(255, 187, 0);
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    display: none
}

.argreset {
    text-align: center;
    color: rgb(0, 0, 0);
    background: linear-gradient(70deg, rgb(255, 0, 0) 0%, rgb(255, 187, 0) 100%);
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
}

.heatupgs {
    text-align: center;
    background: rgb(193,193,193);
    background: linear-gradient(70deg, rgb(216, 97, 0) 0%, rgb(150, 135, 0) 100%);
    width: 300px;
    font-family:'Courier New', Courier, monospace;
}

.heatcount {
    text-align: center;
    color: rgb(255, 136, 0);
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    display: none
}

.friendship {
    text-align: center;
    color: rgb(0, 255, 0);
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    display: block
}

.candlecount {
    text-align: center;
    color: rgb(9, 255, 0);
    color: linear-gradient(70deg, rgb(9, 255, 0) 0%, rgb(0, 255, 170) 100%);
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    display: none
}

.candles {
    text-align: center;
    color: rgb(9, 255, 0);
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    display: none;
    align-content: center;
}

.candlereset {
    text-align: center;
    color: rgb(0, 0, 0);
    background: linear-gradient(70deg, rgb(187, 255, 0) 0%, rgb(0, 255, 55) 100%);
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
}

.candlemilestone {
    text-align: center;
    color: rgb(0, 0, 0);
    background:linear-gradient(90deg, rgb(146, 0, 0) 0%,rgb(163, 65, 0) 100%);
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
    width: 750px;
    align-self: center;
}

.cmacquired {
    text-align: center;
    color: rgb(0, 0, 0);
    background:linear-gradient(90deg, rgb(0, 102, 0) 0%,rgb(0, 117, 82) 100%);
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
    width: 750px;
    align-self: center;
}

.candleupgs {
    text-align: center;
    background: rgb(193,193,193);
    background: linear-gradient(70deg, rgb(96, 214, 0) 0%, rgb(0, 196, 121) 100%);
    width: 300px;
    font-family:'Courier New', Courier, monospace;
}

.bold {
    font-size: 17px;
    font-weight: bold;
}

.hidden {
    display: none
}